# Calgary Property Price Dataset Merging

## Part1 Joining Datasets

**Read Data**

In [24]:
import pandas as pd
import sqlalchemy as sq
import mysql

## Remove column of MULTIPOLYGON if the file has it, since it is too long for SQL join.
price_table = pd.read_csv("property_price_merged_update.csv").drop(["MULTIPOLYGON"], axis = 1)
public_service_table = pd.read_csv("public_service.csv").drop(["multipolygon"], axis = 1)
demograph_table = pd.read_csv("demo1.csv")
safty_table = pd.read_csv("safety.csv")

engine = sq.create_engine('mysql+mysqlconnector://ze_yu:1DvemXDIiuzSC@datasciencedb.ucalgary.ca/ze_yu')
demograph_table.to_sql('demo_statistics', engine )
price_table.to_sql('price_statistics', engine )
public_service_table.to_sql('public_service_statistics', engine )
safty_table.to_sql('safety_statistics', engine )

demograph_df = pd.read_sql_table("demo_statistics", engine)
price_df = pd.read_sql_table("price_statistics", engine)
public_service_df = pd.read_sql_table("public_service_statistics", engine)
safety_df = pd.read_sql_table("safety_statistics", engine)

**Datasets Join**

In [25]:
merged_table = pd.read_sql_query('''
select ze_yu.price_statistics.*, 
ze_yu.public_service_statistics.attaction, 
ze_yu.public_service_statistics.commu_center, 
ze_yu.public_service_statistics.court, 
ze_yu.public_service_statistics.elementary,
ze_yu.public_service_statistics.hospital,
ze_yu.public_service_statistics.juniorhigh,
ze_yu.public_service_statistics.library,
ze_yu.public_service_statistics.phs_clinic,
ze_yu.public_service_statistics.seniorhigh,
ze_yu.public_service_statistics.social_dev_ctr,
ze_yu.public_service_statistics.visitor_info,
ze_yu.demo_statistics.MALE,
ze_yu.demo_statistics.FEMALE,
ze_yu.demo_statistics.English,
ze_yu.demo_statistics.Eng_not_spk_oft_home,
ze_yu.demo_statistics.Population,
ze_yu.demo_statistics.Top_language,
ze_yu.demo_statistics.Top_language_num,
ze_yu.demo_statistics.Top_language_per,
ze_yu.demo_statistics.Top_2_language,
ze_yu.demo_statistics.Top_2_language_num,
ze_yu.demo_statistics.Top_2_language_per,
ze_yu.demo_statistics.Top_3_language,
ze_yu.demo_statistics.Top_3_language_num,
ze_yu.demo_statistics.Top_3_language_per,
ze_yu.safety_statistics.total_crime_counts,
ze_yu.safety_statistics.total_disorder_counts
from ze_yu.price_statistics
JOIN ze_yu.public_service_statistics ON ze_yu.price_statistics.COMM_CODE = ze_yu.public_service_statistics.comm_code
JOIN ze_yu.demo_statistics ON ze_yu.public_service_statistics.comm_code = ze_yu.demo_statistics.COMM_CODE
JOIN ze_yu.safety_statistics ON ze_yu.price_statistics.NAME = ze_yu.safety_statistics.NAME;
''', engine)
display(merged_table)

,index,COMM_CODE,CLASS,CLASS_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CREATED_DT,MODIFIED_DT,...,Top_language_num,Top_language_per,Top_2_language,Top_2_language_num,Top_2_language_per,Top_3_language,Top_3_language_num,Top_3_language_per,total_crime_counts,total_disorder_counts
0,13,BED,Residential,1,BEDDINGTON HEIGHTS,NORTH,ESTABLISHED,1960s/1970s,2016/12/21,2020/10/22,...,910.0,0.08,Mandarin,310.0,0.03,Spanish,185.0,0.02,166,476
1,46,CHV,Residential,1,COUNTRY HILLS VILLAGE,NORTH,COMPLETE,2000s,2016/12/21,2022/07/25,...,100.0,0.04,Mandarin,70.0,0.03,"Tagalog (Pilipino, Filipino)",25.0,0.01,156,201
2,90,BRE,Residential,1,BRENTWOOD,NORTHWEST,ESTABLISHED,1960s/1970s,2016/12/21,2023/01/17,...,200.0,0.03,Cantonese,125.0,0.02,Persian (Farsi),70.0,0.01,237,628
3,93,CHW,Residential,1,CHARLESWOOD,NORTHWEST,ESTABLISHED,1950s,2016/12/21,2023/01/17,...,45.0,0.01,German,45.0,0.01,Arabic,25.0,0.01,77,115
4,107,BLN,Residential,1,BELTLINE,CENTRE,ESTABLISHED,CENTRE CITY,2016/12/21,2023/01/19,...,345.0,0.02,Mandarin,340.0,0.02,Russian,235.0,0.01,2265,7236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,247,SIG,Residential,1,SIGNAL HILL,WEST,ESTABLISHED,1980s/1990s,2016/12/21,2024/01/03,...,320.0,0.02,Mandarin,300.0,0.02,Cantonese,255.0,0.02,261,589
112,284,SDC,Residential,1,SUNDANCE,SOUTH,ESTABLISHED,1980s/1990s,2016/12/21,2024/02/21,...,160.0,0.02,"Tagalog (Pilipino, Filipino)",110.0,0.01,Cantonese,105.0,0.01,93,185
113,286,STR,Residential,1,STRATHCONA PARK,WEST,ESTABLISHED,1980s/1990s,2016/12/21,2024/02/21,...,110.0,0.02,Arabic,100.0,0.01,Cantonese,85.0,0.01,94,104
114,299,SHN,Residential,1,SHAWNESSY,SOUTH,ESTABLISHED,1980s/1990s,2016/12/21,2024/02/21,...,465.0,0.05,Mandarin,215.0,0.02,Spanish,155.0,0.02,231,914
115,156,WOO,Residential,1,WOODLANDS,SOUTH,ESTABLISHED,1980s/1990s,2016/12/21,2023/06/01,...,165.0,0.03,Spanish,90.0,0.01,Mandarin,55.0,0.01,132,310

# Part2 Merge Each Factor With Property Price

**Public Service VS Property Price**

In [30]:
Property_Price_Public_Service_table = pd.read_sql_query('''
select ze_yu.public_service_statistics.*, 
ze_yu.price_statistics.RE_VALUE, 
ze_yu.price_statistics.RE_UNIT_PRICE
from ze_yu.price_statistics
JOIN ze_yu.public_service_statistics 
ON ze_yu.price_statistics.COMM_CODE = ze_yu.public_service_statistics.comm_code
WHERE RE_VALUE IS NOT NULL;

''', engine)
display(Property_Price_Public_Service_table)

,index,comm_code,elementary,juniorhigh,seniorhigh,phs_clinic,hospital,court,social_dev_ctr,attaction,visitor_info,commu_center,library,RE_VALUE,RE_UNIT_PRICE
0,0,MRT,3,1,1,0,0,0,0,0,0,0,1,357670.256835,1056.863611
1,1,RUN,4,2,0,0,0,0,0,0,0,1,0,357765.651801,727.752871
2,3,EDG,3,1,0,0,0,0,0,0,0,1,0,604494.799567,1041.524976
3,4,BED,2,0,1,0,0,0,0,0,0,1,0,375325.471698,886.281854
4,5,HUN,6,2,2,1,0,0,1,0,0,1,1,409891.230552,782.326906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,110,STR,3,0,0,0,0,0,0,0,0,1,0,632929.373246,1192.853228
100,111,OAK,1,1,0,0,0,0,0,0,0,1,0,559301.457726,846.435018
101,112,SHN,3,1,1,0,0,0,0,0,0,1,1,408072.863404,913.231882
102,114,MID,4,2,0,0,0,0,0,0,0,1,0,451323.851953,875.225841
103,115,CED,2,1,0,0,0,0,0,0,0,1,0,376742.557883,834.676807

**Safety VS Property Price**

In [31]:
Property_Price_Safety_table = pd.read_sql_query('''
select ze_yu.safety_statistics.*, 
ze_yu.price_statistics.RE_VALUE, 
ze_yu.price_statistics.RE_UNIT_PRICE
from ze_yu.price_statistics
JOIN ze_yu.safety_statistics 
ON ze_yu.price_statistics.NAME = ze_yu.safety_statistics.NAME
WHERE RE_VALUE IS NOT NULL;
''', engine)
display(Property_Price_Safety_table)

,index,NAME,total_disorder_counts,total_crime_counts,RE_VALUE,RE_UNIT_PRICE
0,146,MARTINDALE,566,327,3.576703e+05,1056.863611
1,121,HIDDEN VALLEY,214,88,4.586548e+05,1028.659834
2,200,RUNDLE,1204,376,3.577657e+05,727.752871
3,139,MACEWAN GLEN,98,47,4.376763e+05,962.740888
4,89,EDGEMONT,263,183,6.044948e+05,1041.524976
...,...,...,...,...,...,...
181,213,SHAWNESSY,914,231,4.080729e+05,913.231882
182,28,ASPEN WOODS,149,94,1.059844e+06,1761.278338
183,156,MIDNAPORE,346,157,4.513239e+05,875.225841
184,95,EVERGREEN,322,176,5.237744e+05,1164.941805
185,52,CEDARBRAE,237,91,3.767426e+05,834.676807

**Demographic VS Property Price**

In [32]:
Property_Price_Demo_table = pd.read_sql_query('''
select ze_yu.demo_statistics.*, 
ze_yu.price_statistics.RE_VALUE, 
ze_yu.price_statistics.RE_UNIT_PRICE
from ze_yu.price_statistics
JOIN ze_yu.demo_statistics 
ON ze_yu.price_statistics.COMM_CODE = ze_yu.demo_statistics.COMM_CODE
WHERE RE_VALUE IS NOT NULL;
''', engine)
display(Property_Price_Demo_table)

,index,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,MALE,FEMALE,...,Top_language_num,Top_language_per,Top_2_language,Top_2_language_num,Top_2_language_per,Top_3_language,Top_3_language_num,Top_3_language_per,RE_VALUE,RE_UNIT_PRICE
0,3,Residential,1.0,MRT,MARTINDALE,NORTHEAST,ESTABLISHED,1980s/1990s,"5,827.00","5,926.00",...,4240.0,0.28,"Tagalog (Pilipino, Filipino)",720.0,0.05,Urdu,470.0,0.03,3.576703e+05,1056.863611
1,7,Residential,1.0,HID,HIDDEN VALLEY,NORTH,ESTABLISHED,1980s/1990s,None,None,...,520.0,0.04,Mandarin,300.0,0.03,Spanish,200.0,0.02,4.586548e+05,1028.659834
2,8,Residential,1.0,RUN,RUNDLE,NORTHEAST,ESTABLISHED,1960s/1970s,"4,280.00","4,378.00",...,645.0,0.06,Arabic,445.0,0.04,Punjabi (Panjabi),410.0,0.04,3.577657e+05,727.752871
3,9,Residential,1.0,MAC,MACEWAN GLEN,NORTH,ESTABLISHED,1980s/1990s,884,"1,022.00",...,210.0,0.04,Mandarin,120.0,0.02,"Tagalog (Pilipino, Filipino)",85.0,0.02,4.376763e+05,962.740888
4,10,Residential,1.0,EDG,EDGEMONT,NORTHWEST,ESTABLISHED,1980s/1990s,"3,273.00","3,549.00",...,1240.0,0.08,Cantonese,1105.0,0.07,Korean,220.0,0.01,6.044948e+05,1041.524976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,369,Residential,1.0,SHN,SHAWNESSY,SOUTH,ESTABLISHED,1980s/1990s,"11,203.00","11,078.00",...,465.0,0.05,Mandarin,215.0,0.02,Spanish,155.0,0.02,4.080729e+05,913.231882
184,370,Residential,1.0,ASP,ASPEN WOODS,WEST,DEVELOPING,BUILDING OUT,"1,488.00","1,427.00",...,390.0,0.04,Spanish,235.0,0.03,Korean,150.0,0.02,1.059844e+06,1761.278338
185,373,Residential,1.0,MID,MIDNAPORE,SOUTH,ESTABLISHED,1960s/1970s,"3,576.00","3,456.00",...,105.0,0.02,Spanish,55.0,0.01,Polish,55.0,0.01,4.513239e+05,875.225841
186,377,Residential,1.0,EVE,EVERGREEN,SOUTH,COMPLETE,2000s,"1,123.00","1,021.00",...,950.0,0.04,"Tagalog (Pilipino, Filipino)",810.0,0.04,Spanish,620.0,0.03,5.237744e+05,1164.941805
187,380,Residential,1.0,CED,CEDARBRAE,SOUTH,ESTABLISHED,1960s/1970s,"4,806.00","4,335.00",...,130.0,0.02,"Tagalog (Pilipino, Filipino)",110.0,0.02,Russian,75.0,0.01,3.767426e+05,834.676807